.cart {
    position: fixed;
    background-color:white;
    /* padding: 1%; */
    width: 20%;
    min-height: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    left: 120%;
    animation: .1s ease-in-out 0s 1 running slidein forwards;
    /* border: 5px double white; */
    /* box-shadow: 1px 1px 15px #66ff00, -1px -1px 15px #ff008a; */
    /* border-radius: 50px 0 50px 0; */
    max-height: 95vh;
    overflow: scroll;
    box-shadow: -5px 5px 10px hsla(0, 0%, 50%, 0.5);
}

ul {
    padding: 2%;
    width: 100%;
    margin: 0 auto;
}

.cart-item {
    list-style-type: none;
    font-size: 1.3rem;
    padding: 3%;
    border: none;
}

.cart-h3 {
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
    padding-bottom: 20px;
    border: none;
    background-color: transparent;
    color: black;
}

input {
    width: 40px;
    height: 1.5rem;
    margin-left: 3%;
    float: right;
}
.total{
    margin-top: .5rem;
    /* border-top: 1px solid black; */
    padding-top: 10px;
}

.moving {
    animation: 3s ease-in-out 1s 1 running slidein forwards;
}

@keyframes slidein {
    from {
        left: 120%;
    }
    to {
        left: 80%;
    }
}

.item-quantity {
    align-self: flex-end;
    width: 50px;
    height: 1.8rem;
    justify-self: flex-end;
}

.cart-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    align-items: center;
    padding: 2%;
}

.cart-p {
    margin: 1%;
    width: 60%;
    color: black;
}
#cart-item-delete-btn {
    background-color: transparent;
    border: none;
    justify-self: flex-end;
    color: grey;
}
.pay-btn {
    background-color: #232F3E;
    color: white;
    border: none;
    height: 2rem;
    width: 70%;
    align-self: flex-end;
    justify-self: flex-end;
    border-radius: 5px;
    font-size: 1.2rem;
    /* box-shadow: 2px 0px 0px #66ff00, -2px 0px 0px #ff008a; */
    /* margin-top: 6%; */
}
#cart-title {
    background-color: #232F3E;
    color: white;
}
@media screen and (max-width:678px){
    .cart {
        width: 75%;
    } 

    @keyframes slidein {
        from {
            left: 120%;
        }
        to {
            left: 23%;
        }
    }
    
}

@media screen and (min-width: 678px) and (max-width: 1200px){ 
    .cart {
        width: 55%;
    }

    @keyframes slidein {
        from {
            left: 120%;
        }
        to {
            left: 44%;
        }
    }
}