.item {
    background-color: lightsteelblue;
    padding: 10px;
}

img {
    max-height: 200px;
    display: block;
    background-color: lightslategrey;
    max-width: 250px;
    margin: 0 auto;
    object-fit: contain;
}
.item-title {
    font-size: 1.5rem;
}

#add-cart-btn {
    float: right;
    background-color: indigo;
    color: lavender;
    border: none;
    height: 2rem;
}
