.item {
    background-color: lightsteelblue;
    padding: 10px;
}

img {
    height: 200px;
    display: block;
    background-color: lightslategrey;
    max-width: 350px;
    margin: 0 auto;
    object-fit: contain;
}
.item-title {
    font-size: 1.5rem;
}
